/* Lane styles */
.Kanban {
    background-color: rgba(48, 117, 57, 0.719);
}
.Lane {
    color: greenyellow;
}
.LaneHeader {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LaneName {
    color: blueviolet;
}

.Lanes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
    align-items: flex-start;
}
.NewLaneButton, .LaneDelete>button,  .LaneAddNote>button {
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
.NewLaneDiv {
    display: flex;
    justify-content: space-around;
}

.Lane ul {
    min-height: 50px;
}